@font-face {
    font-family: 'Callme';
    src: url('fontes/callme_script-webfont.woff') format('woff');
    src: url('fontes/callme_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Callme';
}
.nav-link
{color:black !important; }