@font-face {
    font-family: 'Callme';
    src: url('fontes/callme_script-webfont.woff') format('woff');
    src: url('fontes/callme_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Callme';
}

.nav-link {
    color: black !important;
}


@media (max-width: 768px)
{
    .carousel-item img {
        width: 90%;
        margin: 0 auto;
    }
}    

@media (max-width: 768px)
{
    .col-md-6 {
    width: 100% ;
   

    margin: 0 auto ;
    }


}


    
